---
# hosts.yml

linux:
  children:
    homelab:
      hosts:
        minipc:
          ansible_host: "{{ vault_host_minipc_ansible_host }}"
          ansible_user: "{{ vault_ansible_user }}"
    monitoring:
      hosts:
        prometheus:
          ansible_host: "{{ vault_prometheus_host }}"
          ansible_user: "{{ vault_ansible_user }}"
        grafana:
          ansible_host: "{{ vault_grafana_host }}"
          ansible_user: "{{ vault_ansible_user }}"
        prometheus-pve-exporter:
          ansible_host: "{{ vault_prometheus_pve_exporter_host }}"
          ansible_user: "{{ vault_ansible_user }}"
embeded:
  children:
    openwrt:
      hosts:
        router:
          ansible_host: "{{ vault_openwrt_router_host }}"
          ansible_user: "{{ vault_openwrt_ansible_user }}"
        ap1:
          ansible_host: "{{ vault_openwrt_ap1_host }}"
          ansible_user: "{{ vault_openwrt_ansible_user }}"
        ap2:
          ansible_host: "{{ vault_openwrt_ap2_host }}"
          ansible_user: "{{ vault_openwrt_ansible_user }}"
