---
# hosts.yml

linux:
  children:
    homelab:
      hosts:
        minipc:
          ansible_host: "{{ lookup('infisical', 'vault_host_minipc_ansible_host', path='/all') }}"
          ansible_user: "{{ lookup('infisical', 'vault_ansible_user', path='/all') }}"
    monitoring:
      hosts:
        prometheus:
          ansible_host: "{{ lookup('infisical', 'vault_prometheus_host', path='/monitoring') }}"
          ansible_user: "{{ lookup('infisical', 'vault_ansible_user', path='/all') }}"
        grafana:
          ansible_host: "{{ lookup('infisical', 'vault_grafana_host', path='/monitoring') }}"
          ansible_user: "{{ lookup('infisical', 'vault_ansible_user', path='/all') }}"
        prometheus-pve-exporter:
          ansible_host: "{{ lookup('infisical', 'vault_prometheus_pve_exporter_host', path='/monitoring') }}"
          ansible_user: "{{ lookup('infisical', 'vault_ansible_user', path='/all') }}"
embeded:
  children:
    openwrt:
      hosts:
        router:
          ansible_host: "{{ lookup('infisical', 'vault_openwrt_router_host', path='/openwrt') }}"
          ansible_user: "{{ lookup('infisical', 'vault_openwrt_ansible_user', path='/openwrt') }}"
        ap1:
          ansible_host: "{{ lookup('infisical', 'vault_openwrt_ap1_host', path='/openwrt') }}"
          ansible_user: "{{ lookup('infisical', 'vault_openwrt_ansible_user', path='/openwrt') }}"
        ap2:
          ansible_host: "{{ lookup('infisical', 'vault_openwrt_ap2_host', path='/openwrt') }}"
          ansible_user: "{{ lookup('infisical', 'vault_openwrt_ansible_user', path='/openwrt') }}"
