---
# middlewares.yml

http:
  middlewares:
    # compression
    compression:
      compress:
        encodings: "br, gzip"
    # Error pages middleware
    error-pages:
      errors:
        status:
          - "400-599"
        service: error-pages@docker
        query: "/{status}.html"
    # IP whitelist for trusted networks
    lan-only:
      ipAllowList:
        sourceRange:
          - "127.0.0.1/32"
{% for ip in trusted_ip_ranges %}
          - "{{ ip }}"
{% endfor %}
