---
# routes.yml

http:
  routers:
    # dsm on ds224
    ds224:
      rule: "Host(`nas.{{ vault_traefik_domain }}`) || Host(`ds224.{{ vault_traefik_domain }}`)"
      service: ds224
      entryPoints: &https
        - websecure
      middlewares:
        - lan-only@file
      tls: &tls
        certResolver: production
        domains:
          - main: "{{ vault_traefik_domain }}"
            sans: "*.{{ vault_traefik_domain }}"
    # dsm-calibre on ds224
    ds224-calibre:
      rule: "Host(`calibre.{{ vault_traefik_domain }}`)"
      service: ds224-calibre
      entryPoints: *https
      middlewares:
        # - lan-only@file
      tls: *tls
    # kosync on ds224
    ds224-kosync:
      rule: "Host(`kosync.{{ vault_traefik_domain }}`)"
      service: ds224-kosync
      entryPoints: *https
      middlewares:
        # - lan-only@file
      tls: *tls
    # jellyfin on ds224
    ds224-jellyfin:
      rule: "Host(`jellyfin.{{ vault_traefik_domain }}`)"
      service: ds224-jellyfin
      entryPoints: *https
      middlewares:
        - lan-only@file
      tls: *tls
    # joplin on ds224
    ds224-joplin:
      rule: "Host(`joplin.{{ vault_traefik_domain }}`)"
      service: ds224-joplin
      entryPoints: *https
      tls: *tls
    # navidrome on ds224
    ds224-navidrome:
      rule: "Host(`music.{{ vault_traefik_domain }}`) || Host(`navidrome.{{ vault_traefik_domain }}`)"
      service: ds224-navidrome
      entryPoints: *https
      tls: *tls
    # paperless-ngx on ds224
    ds224-paperless:
      rule: "Host(`paperless.{{ vault_traefik_domain }}`) || Host(`paperless-ngx.{{ vault_traefik_domain }}`)"
      service: ds224-paperless
      middlewares:
        - lan-only@file
      entryPoints: *https
      tls: *tls
    # radio on ds224
    ds224-radio:
      rule: "Host(`radio.{{ vault_traefik_domain }}`)"
      service: ds224-radio
      # add auth middleware in the future
      middlewares:
        - lan-only@file
      entryPoints: *https
      tls: *tls
    # dsm on ds216
    ds216:
      rule: "Host(`ds216.{{ vault_traefik_domain }}`)"
      service: ds216
      entryPoints: *https
      middlewares:
        - lan-only@file
      tls: *tls
