---
# routes.yml

http:
  routers:
    # luci on nanopi
    nanopi-luci:
      rule: "Host(`nanopi.{{ vault_traefik_domain }}`)"
      service: nanopi-luci
      entryPoints:
        - websecure
      middlewares:
        - lan-only@file
      tls:
        certResolver: production
        domains:
          - main: "{{ vault_traefik_domain }}"
            sans: "*.{{ vault_traefik_domain }}"
