---
# services.yml

http:
  services:
    # dsm on ds224
    ds224:
      loadBalancer:
        servers:
          - url: {{ vault_app_ds224_url }}
    # garage s3 on ds224
    ds224-s3:
      loadBalancer:
        servers:
          - url: {{ vault_app_s3_url }}
        healthcheck:
          path: "/health"
          port: "3903"
          # interval: "10s"
          # timeout: "3s"
    # garage webui on ds224
    ds224-garage:
      loadBalancer:
        servers:
          - url: {{ vault_app_garage_url }}
        healthcheck:
          path: "/health"
          port: "3903"
          # interval: "10s"
          # timeout: "3s"
    # calibre-web on ds224
    ds224-calibre:
      loadBalancer:
        servers:
          - url: {{ vault_app_calibre_url }}
    # kosync on ds224
    ds224-kosync:
      loadBalancer:
        servers:
          - url: {{ vault_app_kosync_url }}
    # jellyfin on ds224
    ds224-jellyfin:
      loadBalancer:
        servers:
          - url: {{ vault_app_jellyfin_url }}
    # joplin on ds224
    ds224-joplin:
      loadBalancer:
        servers:
          - url: {{ vault_app_joplin_url }}
    # audiobookshelf on ds224
    ds224-audiobookshelf:
      loadBalancer:
        servers:
          - url: {{ vault_app_audiobookshelf_url }}
    # navidrome on ds224
    ds224-navidrome:
      loadBalancer:
        servers:
          - url: {{ vault_app_navidrome_url }}
    # paperless on ds224
    ds224-paperless:
      loadBalancer:
        servers:
          - url: {{ vault_app_paperless_url }}
    # radio on ds224
    ds224-radio:
      loadBalancer:
        servers:
          - url: {{ vault_app_radio_url }}
    # vault on ds224
    ds224-vault:
      loadBalancer:
        servers:
          - url: {{ vault_app_vault_url }}
    # homarr on ds224
    ds224-homarr:
      loadBalancer:
        servers:
          - url: {{ vault_app_homarr_url }}
    # dsm on ds216
    ds216:
      loadBalancer:
        servers:
          - url: {{ vault_app_ds216_url }}
    # proxmox on firebat
    proxmox:
      loadBalancer:
        servers:
          - url: {{ vault_app_proxmox_url }}
    # grafane on proxmox
    proxmox-grafana:
      loadBalancer:
        servers:
          - url: {{ vault_app_grafana_url }}
