---
# services.yml

http:
  services:
    # dsm on ds224
    ds224:
      loadBalancer:
        servers:
          - url: {{ vault_app_ds224_url }}
    # calibre-web on ds224
    ds224-calibre:
      loadBalancer:
        servers:
          - url: {{ vault_app_calibre_url }}
    # kosync on ds224
    ds224-kosync:
      loadBalancer:
        servers:
          - url: {{ vault_app_kosync_url }}
    # jellyfin on ds224
    ds224-jellyfin:
      loadBalancer:
        servers:
          - url: {{ vault_app_jellyfin_url }}
    # joplin on ds224
    ds224-joplin:
      loadBalancer:
        servers:
          - url: {{ vault_app_joplin_url }}
    # navidrome on ds224
    ds224-navidrome:
      loadBalancer:
        servers:
          - url: {{ vault_app_navidrome_url }}
    # paperless on ds224
    ds224-paperless:
      loadBalancer:
        servers:
          - url: {{ vault_app_paperless_url }}
    # radio on ds224
    ds224-radio:
      loadBalancer:
        servers:
          - url: {{ vault_app_radio_url }}
    # dsm on ds216
    ds216:
      loadBalancer:
        servers:
          - url: {{ vault_app_ds216_url }}
    # proxmox on firebat
    proxmox:
      loadBalancer:
        servers:
          - url: {{ vault_app_proxmox_url }}
