---
# services.yml

http:
  services:
    # luci on nanopi
    nanopi-luci:
      loadBalancer:
        servers:
          - url: {{ vault_app_nanopi_url }}
    # dsm on ds224
    ds224:
      loadBalancer:
        servers:
          - url: {{ vault_app_ds224_url }}
    # dsm on ds216
    ds216:
      loadBalancer:
        servers:
          - url: {{ vault_app_ds216_url }}
